# https://editorconfig.org/
# https://github.com/editorconfig/editorconfig-vscode
# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null
